torch
torchvision
requests
tqdm
git+https://github.com/open-compass/VLMEvalKit.git
tqdm
qwen-vl-utils
timm
accelerate
dotenv
einops
fastapi
ipdb
matplotlib
openai
pillow
transformers
flash-attn #with --build-no-isolation